.container {
    display: grid;
    height: 100vh;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 0.3fr 1.2fr 0.8fr;
    grid-template-areas: 
     "sidebar nav nav nav"
     "sidebar main main main"
     "sidebar content4 content4 content4"
     "sidebar content4 content4 content4"
     
}


nav {
    background-color: tomato;
    grid-area: nav;
}

main {
    background-color: lightgrey;
    grid-area: main;
}

#sidebar {
    background-color: lightslategray;
    grid-area: sidebar;
}

#content1 {
    background-color: lightcyan;
    grid-area: content1;
}

#content2 {
    background-color: greenyellow;
    grid-area: content2;
}

#content3 {
    background-color: lightseagreen;
    grid-area: content3;
}

footer {
    background-color: lightsalmon;
    grid-area: footer;
}


#content4 {
    background-color: lightseagreen;
    grid-area: content4;
}

#ar1 {
    background-color: lightpink;
    width: 40vh;
    height: 40vh;
    margin: 2vh;
}

#ar2 {
    background-color: lightpink;
    width: 40vh;
    height: 40vh;
    margin-top: -43vh;
    margin-left: 50vh;

}

#ar3 {
    background-color: lightpink;
    width: 40vh;
    height: 40vh;
    margin-top: -43vh;
    margin-left: 94vh;
}
